body{
    margin-top: 50px;
/*    font-family: 'Alegreya Sans', sans-serif;  */
}
.fitxaMenua
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    /*        background: rgba(255, 255, 165, 0.5);*/
    position: fixed; /* could be absolute */
    top: 0; right: 0;
}

.fitxaMenua UL
{
    list-style: none;
}
.fitxaMenua UL LI
{
    display: inline;
    margin-right: 20px;
}

.bigdrop {
    width: 400px !important;
}

.haundia {
    width: 400px !important;
}

.inpersonalizatua {
    background-color: #902b2b !important;
}


.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #0071bd !important;
    border-color: #0071bd !important;
}

a.list-group-item-success:focus, a.list-group-item-success:hover, button.list-group-item-success:focus, button.list-group-item-success:hover {
    color: #0071bd;
    background-color: #a3d2f3;
}

.list-group-item-success {
    color: #0071bd;
    background-color: #d1e5f3;
}

a.list-group-item-success, button.list-group-item-success {
    color: #0071bd;
}

#logo_lerroa img {
    height: 70px;
}

#logo_lerroa {
    height: auto;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e7e7;
}

#menu_lerroa {
    margin-top: 70px;
    margin-bottom: 0px;
}

#itzuli_esteka {
    margin-top: 5px;
    text-decoration: none;
    background-color: #fff;
}

#itzuli_esteka a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none;
}

#itzuli_esteka a:hover {
    text-decoration: none;
    background-color: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#goiburua {
    margin-left: 5px;
    margin-top: 5px;
    width: 55rem;
    text-align: center;
    font-size: 4rem;
}

#goiburua a {
    text-decoration: none;
}

#goiburua a:hover {
    text-decoration: none;
    background-color: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #337ab7;
}