@import '~bootstrap';

@import '~font-awesome/css/font-awesome.css';

html{
    font-size: 16px;
}

body {
    /* Con html font-size 10 */
    /* font-size: 16px; */
    /* Con html font-size 16 */
    font-size: 1rem; /* ? */
}

/* START Header styles */
h1, .h1 {
    /* margin-top: 54px !important;
    margin-bottom: 0px !important; */
    /* Con html font-size 10 */
    /* font-size: 3rem; */
    /* Con html font-size 16 */
    font-size: 2rem;
    font-weight: 700;
}

/* Los he metido para ir cambiado poco a poco los estilos a los tamaños recomendados, pero no están aplicados a ningún elemento */
.h2 {
    /* Con html font-size 10 */
    /* font-size: 2.6rem; */
    /* Con html font-size 16 */
    font-size: 1.625rem;
    font-weight: 700;
}

h3, .h3 {
    /* Con html font-size 10 */
    /* font-size: 2.0rem; */
    /* line-height: 3.0rem; */
    /* Con html font-size 16 */
    font-size: 1.375rem;
    font-weight: 700;
}

/* Los he metido para ir cambiado poco a poco los estilos a los tamaños recomendados, pero no están aplicados a ningún elemento */
.h4 {
    font-size: 1.125rem;
    font-weight: 500;
}

/* Los he metido para ir cambiado poco a poco los estilos a los tamaños recomendados, pero no están aplicados a ningún elemento */
.h5 {
    font-size: 1.125rem;
}
/* END Header styles */

/* nav#secondary_menu {
    top: 50px;
} */

ul, ol {
    padding-left: 15px;
}

li {
    list-style: outside;
    margin-bottom: 10px;
}

ul.list-unstyled {
    list-style: none;    
}

ul.list-unstyled li {
    list-style: none;    
}

.fitxaMenua {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    position: fixed;
    /* could be absolute */
    top: 0;
    right: 0;
}

.fitxaMenua UL {
    -style: none;
}

.fitxaMenua UL LI {
    display: inline;
    margin-right: 20px;
}

.bigdrop {
    width: 400px !important;
}

.haundia {
    width: 400px !important;
}

.inpersonalizatua {
    background-color: #902b2b !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #0071bd !important;
    border-color: #0071bd !important;
}

a.list-group-item-success:focus,
a.list-group-item-success:hover,
button.list-group-item-success:focus,
button.list-group-item-success:hover {
    color: #0071bd;
    background-color: #a3d2f3;
}

.list-group-item-success {
    color: #0071bd;
    background-color: #d1e5f3;
}

a.list-group-item-success,
button.list-group-item-success {
    color: #0071bd;
}

.navbar .navbar-fixed-top {
    background-color: #FFFFFF;
}

.barra-fija {
    left: 0;
    right: 0;
    z-index: 1030;
}

img#logoa {
    height: 50px;
    width: auto;
}

#logo_lerroa {
    margin-bottom: 0px !important;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e7e7;
}

#menu_lerroa {
    display: flex;
    align-items: center;
    min-height: 50px !important;
    margin-bottom: 0px !important;
    background-color: #004E89;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#menu_lerroko_brand {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 15px !important;
    padding-top: 0px !important;
    height: auto !important;
}

#itzuli_esteka, .hizkuntza {
    margin-top: 8px;
    text-decoration: none;
    /* Con html font-size 10 */
    /* font-size: 1.2rem; */
    /* Con html font-size 16 */
    font-size: 0.75rem;
    font-weight: 700;
}

#itzuli_esteka a, .hizkuntza a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none;
}

#itzuli_esteka a:hover, .hizkuntza a:hover {
    text-decoration: none;
    background-color: #fff !important;
    color: #009ED5 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.blue-active {
    color: #009ED5 !important;
}

#goiburua {
    margin-left: 32px;
    margin-top: 20px;
    min-width: 175px;
    max-width: 450px;
    /* Con html font-size 10 */
    /* font-size: 1.8rem; */
    /* Con html font-size 16 */
    font-size: 1.2rem;
}

#goiburua-spacer {
    width: auto;
    min-width: 400px;
    max-width: 550px;
}

#goiburua a {
    text-decoration: none;
}

#aurkibidea {
    margin-top: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#aurkibidea-btn {
    background: #f8f8f8 !important;
    z-index: 1;
    display: none;
}

.text-decoration-none {
    text-decoration: none !important;
}
/** END New styles  **/

.divider {
    line-height: 4px;
    background-color: #009ED5;
    margin-top: 5px;
    margin-bottom: 36px;
}

.hrGray {
    display: block;
    border: 0;
    border-top: 1px solid #C0C0C0;
    margin: 0;
    padding: 0;
}

.hr-1first-line-width {
    width: 45%;
}

.hr-1first-line-width-right {
    width: 15%;
    margin-left: auto;
}

.gray-bg {
    background-color: #F5F5F5 !important;
}

.gray-text {
    color: #828282;
}

.themed-grid-col {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:  #F5F5F5 !important;
    border: none;
    border-radius: 60px;
    padding-left: 25px;
    padding-right: 25px;
}

.input-group-addon#filtrarLogo {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: white; 
    border-right-style: none;
    padding-right: 1px !important;
}

.input-group-addon#filtrarText {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: white; 
    border-left-style: solid;
    border-left-color: #828282;
}

#divFiltrar {
    padding-right: 5px !important;
}

#divFiltrar .form-group {
    margin-bottom: 0px !important;
}

#inputFiltrar {
    border-right-style: solid;
    border-right-color: #ccc;
    border-left-style: none;
    box-shadow: none;
}

#inputFiltrar:focus {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

#filtrarText {
    width: 92px;
}

#filtrarImg {
    max-height: 20px;
    max-width: none;
}

.btn-azpifamilia {
    border-width: 2px;
    border-style: solid;
    border-color: #004E89;
    border-radius: 8px;
    background-color: white;
    color: #004E89;
    padding-top: 15px;
    padding-left: 100px;
    padding-bottom: 15px;
    padding-right: 15px;
    height: 120px;
    width: 290px;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    background-position: 25px 30px !important;
    background-repeat: no-repeat;
}

.w70-float-left {
    width: 70%; 
    float: left;
}

.font-weight-400 {
    /* Con html font-size 10 */
    /* font-size: 1.5rem; */
    /* Con html font-size 16 */
    /* font-size: 0.99rem; */
    font-weight: 400;
}

.font-weight-700 {
    font-weight: 700;
}

.bg-fam-9 {
    background-image: url('../images/fam-9.png');
    opacity: 1;
}

.bg-fam-9-active {
    background-image: url('../images/fam-9-active.png');
}

.bg-fam-10 {
    background-image: url('../images/fam-10.png');
    opacity: 1;
}

.bg-fam-10-active {
    background-image: url('../images/fam-10-active.png');
}

.bg-fam-11 {
    background-image: url('../images/fam-11.png');
    opacity: 1;
}

.bg-fam-11-active {
    background-image: url('../images/fam-11-active.png');
}


.bg-fam-12 {
    background-image: url('../images/fam-12.png');
    opacity: 1;
}

.bg-fam-12-active {
    background-image: url('../images/fam-12-active.png');
}

.bg-fam-13 {
    background-image: url('../images/fam-13.png');
    opacity: 1;
}

.bg-fam-13-active {
    background-image: url('../images/fam-13-active.png');
}

.bg-fam-14 {
    background-image: url('../images/fam-14.png');
    opacity: 1;
}

.bg-fam-14-active {
    background-image: url('../images/fam-14-active.png');
}

.bg-fam-17 {
    background-image: url('../images/fam-17.png');
    opacity: 1;
}

.bg-fam-17-active {
    background-image: url('../images/fam-17-active.png');
}

.bg-fam-18 {
    background-image: url('../images/fam-18.png');
}

.bg-fam-18-active {
    background-image: url('../images/fam-18-active.png');
}

.bg-fam-19 {
    background-image: url('../images/fam-19.png');
}

.bg-fam-19-active {
    background-image: url('../images/fam-19-active.png');
}


.bg-fam-20 {
    background-image: url('../images/fam-20.png');
}

.bg-fam-20-active {
    background-image: url('../images/fam-20-active.png');
}

.bg-fam-21 {
    background-image: url('../images/fam-21.png');
}

.bg-fam-21-active {
    background-image: url('../images/fam-21-active.png');
}

.bg-fam-24 {
    background-image: url('../images/fam-24.png');
}

.bg-fam-24-active {
    background-image: url('../images/fam-24-active.png');
}

.bg-fam-25 {
    background-image: url('../images/fam-25.png');
}

.bg-fam-25-active {
    background-image: url('../images/fam-25-active.png');
}

.bg-fam-27 {
    background-image: url('../images/fam-27.png');
}

.bg-fam-27-active {
    background-image: url('../images/fam-27-active.png');
}

.bg-fam-28 {
    background-image: url('../images/fam-28.png');
}

.bg-fam-28-active {
    background-image: url('../images/fam-28-active.png');
}

.bg-fam-29 {
    background-image: url('../images/fam-29.png');
}

.bg-fam-29-active {
    background-image: url('../images/fam-29-active.png');
}

.bg-fam-30 {
    background-image: url('../images/fam-30.png');
}

.bg-fam-30-active {
    background-image: url('../images/fam-30-active.png');
}

.bg-fam-31 {
    background-image: url('../images/fam-31.png');
}

.bg-fam-31-active {
    background-image: url('../images/fam-31-active.png');
}

.bg-fam-32 {
    background-image: url('../images/fam-32.png');
}

.bg-fam-32-active {
    background-image: url('../images/fam-32-active.png');
}

.bg-fam-34 {
    background-image: url('../images/fam-34.png');
}

.bg-fam-34-active {
    background-image: url('../images/fam-34-active.png');
}

.bg-fam-36 {
    background-image: url('../images/fam-36.png');
}

.bg-fam-36-active {
    background-image: url('../images/fam-36-active.png');
}

.bg-fam-37 {
    background-image: url('../images/fam-37.png');
}

.bg-fam-37-active {
    background-image: url('../images/fam-37-active.png');
}

.bg-fam-38 {
    background-image: url('../images/fam-38.png');
}

.bg-fam-38-active {
    background-image: url('../images/fam-38-active.png');
}

.bg-fam-40 {
    background-image: url('../images/fam-40.png');
}

.bg-fam-40-active {
    background-image: url('../images/fam-40-active.png');
}

.bg-fam-42 {
    background-image: url('../images/fam-42.png');
}

.bg-fam-42-active {
    background-image: url('../images/fam-42-active.png');
}

.famButtonActive {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #004E89 !important;
    color: white;
}

.btnActive {
    background-color: white !important;
    color: #004E89 !important;
    border-color: #004E89 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.espedienteKodeaBtn {
    /* Con html font-size 10 */
    /* font-size: 1.6rem; */
    /* Con html font-size 16 */
    /* font-size: 1rem; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: white;
    border: 2px solid #626262;
    border-radius: 30px;
    height: 48px;
    width: 104px;
    color: #626262;
}


.espedienteKodeaBtn-active {
    /* Con html font-size 10 */
    /* font-size: 2.4rem; */
    /* padding-left: 17px; */
    /* padding-right: 17px; */
    /* height: 60px; */
    /* Con html font-size 16 */
    /* font-size: 1.6rem; */
    font-size: 1.6rem;
    padding: 10px;
    background-color: white;
    border: 2px solid #004E89;
    border-radius: 40px;
    width: 120px;
    color: #004E89;
    text-align: center;
    font-weight: 400 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.d-flex {
    display: flex;
}

.justify-content-end-align-items-start {
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-flex-end {
    justify-content: flex-end !important;
}

.mt-5px {
    margin-top: 5px !important;
}

.ml-5px {
    margin-left: 5px !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-justify-content-space-evenly {
    justify-content: space-evenly;
}

.flex-justify-content-space-between {
    justify-content: space-between;
}

button {
    text-decoration: none;
}

button:hover {
    text-decoration: none !important;
}

.fitxa-lerroa-impar-bg {
    background-color: #EEEEEE;
}

.fitxa-lerroa-par-bg {
    background-color: white;
}

.fitxa-lerroa-margin {
    margin-top: 10px;
}

.fitxa-lerroa-active {
    background-color: #D1E5F3;
}

.fitxa-lerroa-impar-bg:hover {
    background-color: #D1E5F3;
}

.fitxa-lerroa-par-bg:hover {
    background-color: #D1E5F3;
}

.fitxa-lerroa {
    text-decoration: none !important;
    text-align: left;
    /* Con html font-size 10 */
    /* font-size: 1.6rem; */
    /* Con html font-size 16 */
    /* font-size: 1rem; */
    /* Comentado para que se muestre correctamente en móvil */
    /* height: 48px; */
    padding: 10px;
    padding-left: 25px;
    padding-left: 25px;
    width: 95%;
    color: black !important;
}

.gezia
{
    background-repeat: no-repeat !important;
    background-position: 98% center !important;
    background-image: url('../images/flecha_derecha.png') !important;
    min-width: 48px !important;
}

.text-align-right {
    text-align: right;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.footer-bg {
    background-color: #202020;
}

.footer {
    margin-top: 0px;
}

footer.container {
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#ubicacion-column {
    padding-top: 57px;
}

#horario-column {
    padding-top: 57px;
    padding-left: 50px;
}

.ubicacion-bg {
    background: no-repeat url('../images/presencial-active.png') !important;
}

.horario-bg {
    background: no-repeat url('../images/horario-active.png') !important;
}

.whatsapp-bg {
    background: no-repeat url('../images/whatsApp-active.png') !important;
}

.escribe-bg {
    background: no-repeat url('../images/correoElectronico-active.png') !important;
}

.contacto-bg {
    background: no-repeat url('../images/telematicamente-active.png') !important;
}

.telefono-bg {
    background: no-repeat url('../images/telefono-active.png') !important;
}

.correo-bg {
    background: no-repeat url('../images/correoElectronico-active.png') !important;
}

.line-height-1-5 {
    line-height: 1.5 !important;
}

.footer-text {
    /* Con html font-size 16 */
    /* font-size: 1rem; */
    color: white;
}

.footer-sac-title {
    /* Con html font-size 10 */
    /* font-size: 2.0rem; */
    /* Con html font-size 16 */
    /* font-size: 1.375rem; */
}

footer a {
    /* Con html font-size 10 */
    /* font-size: 1.6rem !important; */
    /* Con html font-size 16 */
    /* font-size: 1rem !important; */
    color: white !important;
    text-decoration: underline !important;
}

#columnas-footer {
    padding: 0px;
}

.max-width-100 {
    max-width: 100%;
}

.ml-auto {
    margin-left: auto;
}

.js-children-block-close {
    height: 50px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 25px;
}

.mt-2 {
    margin-top: 50px;
}

.mt-3 {
    margin-top: 75px;
}

.mt-4 {
    margin-top: 100px;
}


.mb-0 {
    margin-bottom: 0px !important;
}

.mb-1 {
    margin-bottom: 15px;
}

.mb-2 {
    margin-bottom: 50px;
}

.mb-3 {
    margin-bottom: 75px;
}

.ml-auto {
    margin-left: auto;
}

.ml-1 {
    margin-left: 25px;
}

.mr-auto {
    margin-right: auto;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-1 {
    padding-left: 25px;
}

.pl-2 {
    padding-left: 50px;
}

.pl-3 {
    padding-left: 75px;
}

.pl-40px {
    padding-left: 40px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pr-1 {
    padding-right: 25px;
}

.pr-2 {
    padding-right: 50px;
}

.pt-10px {
    padding-top: 10px !important;
}

.p-10px {
    padding: 10px;
}

.p-1 {
    padding: 25px;
}

.p-2 {
    padding: 50px;
}

.p-3
{
    padding: 75px;
}

.p-4
{
    padding: 100px;
}

.pb-10px {
    padding-bottom: 10px !important;
}

.pb-2 {
    padding-bottom: 50px;
}

.w100 {
    width: 100%;
}

.w70px {
    width: 70px;
}

.w96 {
    width: 96%;
}

.h100 {
    height: 100%;
}

/*  START Fitxa Styles */
.seccion {
    scroll-margin-top: 150px; /* o el valor que necesites */
}

.familia {
    scroll-margin-top: 170px; /* o el valor que necesites */
}

.oharra tr {
    background-image: url('../images/advertencia.png') !important;
    background-repeat: no-repeat;
    background-position: 10px 15px !important;
}

.oharra td {
	border: 0px none #fff !important;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
}

.oharra {
	border-top: 1px solid #626262;
	width: 100%;
	border-bottom: 1px solid #626262;
	border-left: 0px solid;
	border-right: 0px solid;
    margin-top: 30px;
}

.oharra p {
    margin: 0 0 0px;
}

.plain td {
	border: 0px none #fff !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plain {
    /* margin-left: 15px; */
    border: 0px none #fff !important;
	width: 100%;
    margin-top: 15px;
    line-height: normal;
}


table.kostuTaula {
    border-width: 0px;
    border-style: none;
    border-top: 0px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    overflow: hidden;
}

table.kostuTaula th {
    background-color: #F5F5F5;
    border-top: 0px !important;
    border-bottom: 1px solid #ddd;
    padding: 20px !important;
    /* font-size: 1.375rem; */
}

table.kostuTaula td {
    border-top: 0px !important;
    border-bottom: 1px solid #ddd;
}

.grey-bg {
    background-color: #F5F5F5;
}

.breadcrum {
    color: white;
    width: auto;
    font-weight: 700;
    /* Con html font-size 10 */
    /* font-size: 1.2rem !important; */
    /* Con html font-size 16 */
    font-size: 0.75rem !important;
}

.breadcrum a, .breadcrum a:visited {
    color: white;
}

#breadcrum-text {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#azken_eguneraketa_lerroa {
    height: 40px !important;
    min-height: 40px !important;    
    border: 0px;
    color: #828282;
    font-weight: 700;
    /* Con html font-size 10 */
    /* font-size: 1.2rem !important; */
    /* Con html font-size 16 */
    font-size: 0.75rem !important;
    /*padding-top: 10px;*/
}

.flex-align-items-center {
    align-items: center !important;
}

.flex-align-items-start {
    align-items: start !important;
}

.fitxaTitle-block {
    background-color:#E5F1F8;
    border-radius: 10px;
    padding: 25px 0px 25px 25px;
    color: #004E89;
}

#fitxaTitleDiv {
    border-right: 1px solid #004E89;
    max-width: 80%;
    padding: 0px !important;
}

div#fitxaTitleDiv h2 {
    padding: 0px !important;
}

/* .fitxaTitle { */
    /* Con html font-size 10 */
    /* font-size: 2.3rem; */
    /* line-height: 3.0rem; */
    /* Con html font-size 16 */
    /* font-size: 2rem; */
/* } */

#fitxaTitleEspedienteKodea {
    display: flex;
    justify-content: center;
    width: max-content;
    min-width: 100px;
    align-items: center;
}

.border-none {
    border: none !important;
}

.aurkibidea {
    margin-top: 40px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.position-sticky-190px {
    float: right;
    position: sticky;
    position: -webkit-sticky;
    top: 193px; /* required */
}

.left {
    float: left;
}

.aurkibide-titulua {
    /* Con html font-size 10 */
    /* font-size: 1rem; */
    /* Con html font-size 16 */
    /* font-size: 1rem; */
    border-bottom: 2px solid #C2C2C2;
    padding-bottom: 5px;
}

.aurkibide-zerrenda {
    padding-left: 5px !important;
}

.aurkibide-zerrenda a {
    color: #626262;
}

.aurkibide-zerrenda li {
    padding-top: 10px;
    border-bottom: 1px solid #E8E8E8;
}

.dokumentu-zerrenda {
    list-style: none;
    padding-left: 0;
}

.dokumentazioa-texto ul, .dokumentazioa-texto ol {
    list-style: none;
    padding-left: 15px;
}

.dokumentazioa-texto li {
    list-style: outside;
    margin-bottom: 10px;
}

/* #kanala ul, #prozedura ul, #oharrak ul {
    padding-left: 15px;
}

#kanala li, #prozedura li, #oharrak li {
    list-style: outside;
    margin-bottom: 10px;
} */

.kanal-zerrenda {
    padding-left: 0;
}

.kanal-mota-btn {
    height: 48px;
}

a.underline {
    text-decoration: underline !important;
}

div#oharrak a {
    text-decoration: underline !important;
}

div#oharrak p {
    margin-bottom: 25px;
}

/*  END Fitxa Styles */

ul.kanal-zerrenda li {
    list-style: none;
    position: relative;
    padding-left: 30px; /* Deja espacio para la imagen */
  }

ul.kanal-zerrenda li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.1em;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.bordered-box {
	border: 1px solid #626262;
	border-radius: 10px;
}

.border-right {
	border-right: 1px solid #F2F2F2;
}

.border-right-blue {
    border-right: 1px solid #004E89;
}

.border-none {
	border-right: 0px none #F2F2F2;
}

.btn-dokumentua {
    list-style: none;
    padding: 15px;
   	border: 2px solid #626262;
	border-radius: 10px;
    text-decoration: none;
    width: 49%;
    margin-bottom: 15px;
}

.btn-dokumentua a {
    color:#000 !important;
}

.download-icon {
    height: 24px;
}

#informazio-gehiagoTitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

li.mail-kanala::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/correoElectronico.png');
}

li.telefono-kanala::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/telefono.png');
}

li.whatsapp-kanala::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/whatsApp.png');
}

li.last-item {
    border-bottom: none !important;
}

/** END New styles  **/
@media (min-width: 1260px) {
    .container {
        width: 1260px;
    }

    .hizkuntza-eu {
        margin-left: 25px !important;
    }

    #itzuli-esteka {
        margin-right: 25px !important;
    }

    #fitxaTitleDiv {
        padding-right: 25px !important;
    }
}

@media only screen and (max-width: 1250px) {
    .hizkuntza-eu {
        margin-left: 25px !important;
    }

    #itzuli-esteka {
        margin-right: 25px !important;
    }
}

@media only screen and (max-width: 1200px) {
    #fitxaTitleDiv {
        max-width: 80%;
    }

    #logo_lerroa .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }
    #goiburua {
        width: auto;
    }

    #goiburua-spacer {
        width: auto;
        min-width: 100px;
        max-width: 200px;
      }
    
    #SAC-column {
        padding-top: 0px;
    }

    .container {
        width: 990px;
    }

    .navbar-header {
        float: left;
        width: 100%;
    }

    #logo_lerroa div.navbar-header>ul.nav {
        width: 100%;
    }

    #columnas-footer {
        padding-top: 25px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 990px) {
    .w96 {
        width: 93%;
    }
    
    #logo_lerroa .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }

    #fitxaTitleDiv {
        max-width: 75%;
        padding-right: 25px !important;
    }

    .container {
        width: 768px;
    }

    #goiburua-spacer {
        display: none;
    }

    .navbar-header {
        float: left;
        width: 100%;
    }

    #logo_lerroa div.navbar-header>ul.nav {
        width: 100%;
    }

    #horario-column {
        padding-left: 15px;
    }

    .footer {
        padding-top: 0px;
    }

    #SAC-column {
        padding-top: 50px;
    }

    .footer-sac-title {
        padding-left: 0px !important;
    }

    .btn-dokumentua {
        width: 98%;
    }

    #arduraaitorpena, #ebazpensinpli, #isiltasunadmin, #arrunta, #aurreikusi {
        border: 0px none #000 !important;
        margin-top: 15px !important;
        padding-left: 0px !important;
    }

    .kanal-mota-btn{
        border: 0px none #000 !important;
        background-position: 0px 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    img#logoa {
        margin-left: 15px !important;
    }

    .left, .position-sticky-170px {
        float: none;
        width: 100%;
    }

    .position-sticky-170px {
        order: -1; /* no tiene efecto sin flex, pero útil si cambias de layout */
        position: relative; /* Cambia de sticky a relative */
        top: auto; /* Resetea el top */
    }

    #fitxaTitleDiv {
        max-width: 67%;
    }

    #ifk {
        padding-left: 15px;
    }

    .container {
        width: 100%;
    }

    .footer {
        width: 100% !important;
    }

    #goiburua-spacer {
        display: none;
    }

    #itzuli_esteka {
        float: left;
        width: auto;
        margin-left: 30px;
    }

    .pl-2#columnas-footer {
        padding-left: 40px;
    }

    #itzuli_esteka, .hizkuntza {
        margin-top: 12px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: auto;
        /** Con html font-size 10 */
        /* font-size: 1.0rem; */
        /** Con html font-size 16 */
        font-size: 0.66rem;
    }

    #itzuli_esteka a {
        overflow: hidden;
        white-space: nowrap;
        max-width: 58px; 
    }
    
    ul.nav li {
        float: left;
        width: auto;
    }

    .navbar .nav {
        margin: 0px 0px;
    }

    #menu_lerroa {
        margin-bottom: 0px;
    }
    
    #politica {
        padding-left: 30px;
    }

    #copy {
        display: none;
    }
}

@media only screen and (max-width: 537px) {
    #fitxaTitleDiv {
        max-width: 60%;
    }

    #itzuli_esteka {
        clear: both;
        margin-left: 25px;
    }

    .hizkuntza-es {
        margin-top: 0px !important;
    }

    /* ul.kanal-zerrenda.mt-10px > li > a { */
        /* Con html font-size 10 */
        /* font-size: 1.3rem;     */
        /* Con html font-size 16 */
        /* font-size: 1rem; */
    /* } */
}

@media only screen and (max-width: 508px) {

    #goiburua {
        float: right;
        min-width: 0px;
    }

    .hizkuntza {
        margin-left: 20px;
    }

    #columnas-footer {
        padding-left: 50px;
    }
}

@media screen and (max-width: 476px) {
    #breadcrum-text {
        max-width: 83%;
    }

    .hizkuntza-eu {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 442px) {
    #breadcrum-text {
        max-width: 80%;
    }

    /* .fitxaTitle-block {
        padding: 10px 10px 10px 10px;
    } */

    #fitxaTitleDiv {
        max-width: 50%;
        border-right: 0px;
    }

    #goiburua {
        margin-left: auto;
    }    

    #itzuli_esteka {
        margin-top: 12px !important;
    }
}

@media screen and (max-width: 410px) {
    #aurkibidea-btn {
        display: block;
        position: sticky;
        position: -webkit-sticky;
        top: 193px; /* required */
    }
    
    .seccion {
        scroll-margin-top: 200px; /* o el valor que necesites */
    }

    #eskumako-zutabea{
        scroll-margin-top: 200px; /* o el valor que necesites */
    }

    .w96 {
        width: 90%;
    }

    #fitxaTitleDiv {
        border-right: 0px;
        max-width: max-content;
    }

    #fitxaTitleEspedienteKodea {
        max-width: max-content;
        margin-right: auto;
    }

    #itzuli_esteka {
        margin-top: 0px !important;
        margin-right: auto;
        margin-left: 25px;
    }

    #breadcrum-text {
        max-width: 250px;
    }
}

.affix {
    top: 0px;
    width: 100%;
    z-index: 1010;
}

.affix a {
    color: #777777;
    /* padding: 15px; */
}

.affix a:hover {
    /*color: #000 !important;*/
    color: #000;
}

.affix-top a {
    /*padding: 25px !important;*/
}

.help-block {
    color: #902b2b;
}