@import '~bootstrap';

@import '~font-awesome/css/font-awesome.css';

body {
    margin-top: 50px;
    font-size: 16px;
}

.fitxaMenua {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    position: fixed;
    /* could be absolute */
    top: 0;
    right: 0;
}

.fitxaMenua UL {
    list-style: none;
}

.fitxaMenua UL LI {
    display: inline;
    margin-right: 20px;
}

.bigdrop {
    width: 400px !important;
}

.haundia {
    width: 400px !important;
}

.inpersonalizatua {
    background-color: #902b2b !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #0071bd !important;
    border-color: #0071bd !important;
}

a.list-group-item-success:focus,
a.list-group-item-success:hover,
button.list-group-item-success:focus,
button.list-group-item-success:hover {
    color: #0071bd;
    background-color: #a3d2f3;
}

.list-group-item-success {
    color: #0071bd;
    background-color: #d1e5f3;
}

a.list-group-item-success,
button.list-group-item-success {
    color: #0071bd;
}

.navbar .navbar-fixed-top {
    background-color: #FFFFFF;
}

img#logoa {
    height: 65px;
    width: 160px;
}

#logo_lerroa {
    background-color: #FFFFFF;
    height: 70px;
    border-bottom: 1px solid #e7e7e7;
}

#menu_lerroa {
    margin-top: 70px;
    margin-bottom: 0px;
    height: 30px !important;
    min-height: 30px !important;
    background-color: #004E89;
}

#itzuli_esteka, .hizkuntza {
    margin-top: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

#itzuli_esteka a, .hizkuntza a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none;
}

#itzuli_esteka a:hover, .hizkuntza a:hover {
    text-decoration: none;
    background-color: #fff !important;
    color: #009ED5 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.blue-active {
    color: #009ED5 !important;
}

#goiburua {
    margin-left: 32px;
    margin-top: 20px;
    min-width: 175px;
    max-width: 450px;
    font-size: 1.8rem;
}

#goiburua-spacer {
    width: auto;
    min-width: 400px;
    max-width: 550px;
}

#goiburua a {
    text-decoration: none;
}

/** Start New styles  **/

h1 {
    margin-top: 54px !important;
    margin-bottom: 0px !important;
    font-size: 3rem;
    font-weight: 700;
}

.divider {
    line-height: 4px;
    background-color: #009ED5;
    margin-top: 16px;
    margin-bottom: 36px;
}

h2.tituloFamilia {
    font-size: 2.6rem;
    font-weight: 600;
}

.hrGray {
    display: block;
    border: 0;
    border-top: 1px solid #C0C0C0;
    margin: 0;
    padding: 0;
}

.hr-1first-line-width {
    width: 45%;
}

.hr-1first-line-width-right {
    width: 15%;
    margin-left: auto;
}

.gray-bg {
    background-color: #F5F5F5 !important;
}

.gray-text {
    color: #828282;
}

.themed-grid-col {
    margin-top: 80px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:  #F5F5F5 !important;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.input-group-addon#filtrarLogo {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: white; 
    border-right-style: none;
    padding-right: 1px !important;
}

.input-group-addon#filtrarText {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: white; 
    border-left-style: solid;
    border-left-color: #828282;
}

#divFiltrar {
    padding-right: 5px !important;
}

#divFiltrar .form-group {
    margin-bottom: 0px !important;
}

#inputFiltrar {
    border-right-style: solid;
    border-right-color: #ccc;
    border-left-style: none;
    box-shadow: none;
}

#inputFiltrar:focus {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

#filtrarText {
    width: 92px;
}

#filtrarImg {
    max-height: 20px;
    max-width: auto;
}

.mb-2 {
    margin-bottom: 25px;
}

.btn-azpifamilia {
    border-style: 2px solid;
    border-color: #004E89;
    border-radius: 8px;
    background-color: white;
    color: #004E89;
    padding-top: 15px;
    padding-left: 100px;
    padding-bottom: 15px;
    padding-right: 15px;
    height: 120px;
    width: 270px;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    background-position: 25px 30px !important;
    background-repeat: no-repeat;
}

.w70-float-left {
    width: 70%; 
    float: left;
}

.font-weight {
    font-size: 1.5rem;
    font-weight: 400;
}

.bg-fam-9 {
    background-image: url('../images/fam-9.png');
    opacity: 1;
}

.bg-fam-9-active {
    background-image: url('../images/fam-9-active.png');
}

.bg-fam-10 {
    background-image: url('../images/fam-10.png');
    opacity: 1;
}

.bg-fam-10-active {
    background-image: url('../images/fam-10-active.png');
}

.bg-fam-11 {
    background-image: url('../images/fam-11.png');
    opacity: 1;
}

.bg-fam-11-active {
    background-image: url('../images/fam-11-active.png');
}


.bg-fam-12 {
    background-image: url('../images/fam-12.png');
    opacity: 1;
}

.bg-fam-12-active {
    background-image: url('../images/fam-12-active.png');
}

.bg-fam-13 {
    background-image: url('../images/fam-13.png');
    opacity: 1;
}

.bg-fam-13-active {
    background-image: url('../images/fam-13-active.png');
}

.bg-fam-14 {
    background-image: url('../images/fam-14.png');
    opacity: 1;
}

.bg-fam-14-active {
    background-image: url('../images/fam-14-active.png');
}

.bg-fam-17 {
    background-image: url('../images/fam-17.png');
    opacity: 1;
}

.bg-fam-17-active {
    background-image: url('../images/fam-17-active.png');
}

.bg-fam-18 {
    background-image: url('../images/fam-18.png');
}

.bg-fam-18-active {
    background-image: url('../images/fam-18-active.png');
}

.bg-fam-19 {
    background-image: url('../images/fam-19.png');
}

.bg-fam-19-active {
    background-image: url('../images/fam-19-active.png');
}


.bg-fam-20 {
    background-image: url('../images/fam-20.png');
}

.bg-fam-20-active {
    background-image: url('../images/fam-20-active.png');
}

.bg-fam-21 {
    background-image: url('../images/fam-21.png');
}

.bg-fam-21-active {
    background-image: url('../images/fam-21-active.png');
}

.bg-fam-24 {
    background-image: url('../images/fam-24.png');
}

.bg-fam-24-active {
    background-image: url('../images/fam-24-active.png');
}

.bg-fam-25 {
    background-image: url('../images/fam-25.png');
}

.bg-fam-25-active {
    background-image: url('../images/fam-25-active.png');
}

.bg-fam-27 {
    background-image: url('../images/fam-27.png');
}

.bg-fam-27-active {
    background-image: url('../images/fam-27-active.png');
}

.bg-fam-28 {
    background-image: url('../images/fam-28.png');
}

.bg-fam-28-active {
    background-image: url('../images/fam-28-active.png');
}

.bg-fam-29 {
    background-image: url('../images/fam-29.png');
}

.bg-fam-29-active {
    background-image: url('../images/fam-29-active.png');
}

.bg-fam-30 {
    background-image: url('../images/fam-30.png');
}

.bg-fam-30-active {
    background-image: url('../images/fam-30-active.png');
}

.bg-fam-31 {
    background-image: url('../images/fam-31.png');
}

.bg-fam-31-active {
    background-image: url('../images/fam-31-active.png');
}

.bg-fam-32 {
    background-image: url('../images/fam-32.png');
}

.bg-fam-32-active {
    background-image: url('../images/fam-32-active.png');
}

.bg-fam-34 {
    background-image: url('../images/fam-34.png');
}

.bg-fam-34-active {
    background-image: url('../images/fam-34-active.png');
}

.bg-fam-36 {
    background-image: url('../images/fam-36.png');
}

.bg-fam-36-active {
    background-image: url('../images/fam-36-active.png');
}

.bg-fam-37 {
    background-image: url('../images/fam-37.png');
}

.bg-fam-37-active {
    background-image: url('../images/fam-37-active.png');
}

.bg-fam-38 {
    background-image: url('../images/fam-38.png');
}

.bg-fam-38-active {
    background-image: url('../images/fam-38-active.png');
}

.bg-fam-40 {
    background-image: url('../images/fam-40.png');
}

.bg-fam-40-active {
    background-image: url('../images/fam-40-active.png');
}

.bg-fam-42 {
    background-image: url('../images/fam-42.png');
}

.bg-fam-42-active {
    background-image: url('../images/fam-42-active.png');
}

.famButtonActive {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #004E89 !important;
    color: white;
}

.btnActive {
    background-color: white !important;
    color: #004E89 !important;
    border-color: #004E89 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.espedienteKodeaBtn {
    font-size: 1.6rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: white;
    border: 2px solid #626262;
    border-radius: 30px;
    height: 48px;
    width: 104px;
    color: #626262;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-justify-content-space-evenly{
    justify-content: space-evenly;
}

button {
    text-decoration: none;
}

button:hover {
    text-decoration: none !important;
}

.fitxa-lerroa-impar-bg {
    background-color: #EEEEEE;
}

.fitxa-lerroa-par-bg {
    background-color: white;
}

.fitxa-lerroa-margin {
    margin-top: 10px;
}

.fitxa-lerroa-active {
    background-color: #D1E5F3;
}

.fitxa-lerroa-impar-bg:hover {
    background-color: #D1E5F3;
}

.fitxa-lerroa-par-bg:hover {
    background-color: #D1E5F3;
}

.fitxa-lerroa {
    text-decoration: none !important;
    text-align: left;
    font-size: 1.6rem;
    height: 48px;
    padding: 10px;
    padding-left: 25px;
    padding-left: 25px;
    width: 95%;
    color: black !important;
}

.gezia
{
    background-repeat: no-repeat !important;
    background-position: 98% center !important;
    background-image: url('../images/flecha_derecha.png') !important;
    min-width: 48px !important;
}

.text-align-right {
    text-align: right;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

footer {
    margin-top: 50px;
    background-color: #202020;
}

#ubicacion-column {
    padding-top: 50px;
}

#horario-column {
    padding-top: 50px;
    padding-left: 50px;
}

.ubicacion-bg {
    background: no-repeat url('../images/ubicacion.png') !important;
}

.horario-bg {
    background: no-repeat url('../images/horario.png') !important;
}

.whatsapp-bg {
    background: no-repeat url('../images/whatsapp.png') !important;
}

.escribe-bg {
    background: no-repeat url('../images/mail.png') !important;
}

.contacto-bg {
    background: no-repeat url('../images/web.png') !important;
}

.telefono-bg {
    background: no-repeat url('../images/telefono.png') !important;
}

.correo-bg {
    background: no-repeat url('../images/mail.png') !important;
}

.footer-text {
    font-size: 1.3rem;
    color: white;
}

.footer-sac-title {
    font-size: 1.6rem;
}

footer a {
    font-size: 1.6rem !important;
    color: white !important;
    text-decoration: underline !important;
}

#columnas-footer {
    padding: 50px;
}

.ml-auto {
    margin-left: auto;
}

.js-children-block-close {
    height: 50px;
}

.mt-1 {
    margin-top: 25px;
}

.mt-2 {
    margin-top: 50px;
}

.mt-3 {
    margin-top: 75px;
}

.mt-4 {
    margin-top: 100px;
}


.mb-2 {
    margin-bottom: 50px;
}

.mb-3 {
    margin-bottom: 75px;
}

.ml-auto {
    margin-left: auto;
}

.ml-1 {
    margin-left: 25px;
}


.pl-1 {
    padding-left: 25px;
}

.pl-2 {
    padding-left: 50px;
}

.pr-1 {
    padding-right: 25px;
}

.pr-2 {
    padding-right: 50px;
}

.p-2 {
    padding: 50px;
}

.pb-2 {
    padding-bottom: 50px;
}

#social-media {
    margin-left: -15px;
}


/** End New styles  **/
@media (min-width: 1251px) {
    .container {
        width: 1216px;
    }

    .hizkuntza-eu {
        margin-left: 25px !important;
    }

    #itzuli-esteka {
        margin-right: 25px !important;
    }
}

@media only screen and (max-width: 1250px) {
    .hizkuntza-eu {
        margin-left: 25px !important;
    }

    #itzuli-esteka {
        margin-right: 25px !important;
    }
}

@media only screen and (max-width: 1200px) {
    #logo_lerroa .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }
    #goiburua {
        width: auto;
    }

    #goiburua-spacer {
        width: auto;
        min-width: 100px;
        max-width: 200px;
      }
    
    #SAC-column {
        padding-top: 0px;
    }

    .container {
        width: 990px;
    }

    .navbar-header {
        float: left;
        width: 100%;
    }

    #logo_lerroa div.navbar-header>ul.nav {
        width: 100%;
    }

    #columnas-footer {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 990px) {
    #logo_lerroa .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }

    .container {
        width: 768px;
    }

    #goiburua-spacer {
        display: none;
    }

    .navbar-header {
        float: left;
        width: 100%;
    }

    #logo_lerroa div.navbar-header>ul.nav {
        width: 100%;
    }

    #horario-column {
        padding-left: 15px;
    }

    .footer {
        padding-top: 0px;
    }

    #SAC-column {
        padding-top: 25px;
    }

    .footer-sac-title {
        padding-left: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .footer {
        width: 100% !important;
    }

    #goiburua-spacer {
        display: none;
    }

    #itzuli_esteka {
        float: left;
        width: auto;
        margin-left: 30px;
    }

    .pl-2#columnas-footer {
        padding-left: 60px;
    }

    #itzuli_esteka, .hizkuntza {
        margin-top: 12px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: auto;
        font-size: 1.0rem;
    }

    #itzuli_esteka a {
        overflow: hidden;
        white-space: nowrap;
        max-width: 58px; 
    }
    
    ul.nav li {
        float: left;
        width: auto;
    }

    .navbar .nav {
        margin: 0px 0px;
    }

    #menu_lerroa {
        margin-top: 70px;
        margin-bottom: 0px;
    }
    
    #politica {
        padding-left: 30px;
    }

    #copy {
        display: none;
    }
}

@media only screen and (max-width: 537px) {
    #logo_lerroa {
        height: 100px !important;
    }

    #menu_lerroa {
        margin-top: 100px;
    }

    #itzuli_esteka {
        clear: both;
        margin-left: 25px;
    }

    .hizkuntza-es {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 508px) {

    #goiburua {
        float: right;
        min-width: 0px;
    }

    .hizkuntza {
        margin-left: 20px;
    }

    #columnas-footer {
        padding-left: 50px;
    }
}

@media screen and (max-width: 476px) {
    .hizkuntza-eu {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 442px) {
    #goiburua {
        margin-left: auto;
    }    

    #itzuli_esteka {
        margin-top: 12px !important;
    }
}

@media screen and (max-width: 410px) {
    #itzuli_esteka {
        margin-top: 0px !important;
        margin-right: auto;
    }
}

.affix {
    top: 2;
    width: 100%;
    z-index: 1010;
}

.affix a {
    color: #777777;
    padding: 15px;
}

.affix a:hover {
    /*color: #000 !important;*/
    color: #000;
}

.affix-top a {
    /*padding: 25px !important;*/
}

.help-block {
    color: #902b2b;
}

/*
* IE10 viewport hack for Surface/desktop Windows 8 bug
* Copyright 2014-2015 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

/*
* See the Getting Started docs for more information:
* http://getbootstrap.com/getting-started/#support-ie10-width
*/
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
