@import '~bootstrap';

@import '~font-awesome/css/font-awesome.css';

body {
    margin-top: 50px;
    /*    font-family: 'Alegreya Sans', sans-serif;  */
}

.fitxaMenua {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    /*        background: rgba(255, 255, 165, 0.5);*/
    position: fixed;
    /* could be absolute */
    top: 0;
    right: 0;
}

.fitxaMenua UL {
    list-style: none;
}

.fitxaMenua UL LI {
    display: inline;
    margin-right: 20px;
}

.bigdrop {
    width: 400px !important;
}

.haundia {
    width: 400px !important;
}

.inpersonalizatua {
    background-color: #902b2b !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #0071bd !important;
    border-color: #0071bd !important;
}

a.list-group-item-success:focus,
a.list-group-item-success:hover,
button.list-group-item-success:focus,
button.list-group-item-success:hover {
    color: #0071bd;
    background-color: #a3d2f3;
}

.list-group-item-success {
    color: #0071bd;
    background-color: #d1e5f3;
}

a.list-group-item-success,
button.list-group-item-success {
    color: #0071bd;
}

#logo_lerroa img {
    height: 70px;
}

#logo_lerroa {
    height: 70px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e7e7;
}

#menu_lerroa {
    margin-top: 70px;
    margin-bottom: 0px;
}

#itzuli_esteka {
    margin-top: 5px;
    text-decoration: none;
    background-color: #fff;
}

#itzuli_esteka a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-decoration: none;
}

#itzuli_esteka a:hover {
    text-decoration: none;
    background-color: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#goiburua {
    margin-left: 5px;
    margin-top: 5px;
    width: 55rem;
    text-align: center;
    font-size: 4rem;
}

#goiburua a {
    text-decoration: none;
}

@media only screen and (max-width: 990px) {
    #logo_lerroa .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }
    #goiburua {
        text-align: center;
        font-size: 3rem;
        width: auto;
        margin-left: auto;
    }
    .container {
        width: 100%;
    }
    #itzuli_esteka {
        float: right;
        text-align: right;
    }
    .navbar-header {
        float: left;
        width: 100%;
    }
    #logo_lerroa div.navbar-header>ul.nav {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    #goiburua {
        font-size: 2rem;
        text-align: center;
        width: 40%;
        margin-left: auto;
    }
    #itzuli_esteka {
        float: right;
        width: auto;
        text-align: right;
        font-size: 1rem;
    }
    ul.nav li {
        float: left;
        width: auto;
    }
    img#logoa {
        padding-left: 15px;
        max-width: 100px;
        max-width: auto;
        height: auto;
        width: auto;
    }
    #menu_lerroa {
        margin-top: 70px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 500px) {
    #goiburua {
        display: none;
    }
}

.affix {
    top: 2;
    width: 100%;
    /*-webkit-transition: all .5s ease-in-out;*/
    /*transition: all .5s ease-in-out;*/
    /*background-color: #F44336;*/
    /*border-color: #F44336;*/
    z-index: 1010;
}

/*.affix :hover*/
/*{*/
/*padding: 15px !important;*/
/*}*/
.affix a {
    /*color: #777777 !important;*/
    /*padding: 15px !important;*/
    color: #777777;
    padding: 15px;
    /*-webkit-transition: all .5s ease-in-out;*/
    /*transition: all .5s ease-in-out;*/
}

.affix a:hover {
    /*color: #000 !important;*/
    color: #000;
}

.affix-top a {
    /*padding: 25px !important;*/
}

/*.affix + .container-fluid {*/
/*/*padding-top: 5px;*/
/*}*/
